name: generating-docs
run-name: generating docs
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          args: -pdf -silent -pdflatex="/usr/texbin/pdflatex  \documentclass[english]{article}\newcommand\columnnr{3}\usepackage[a4paper,margin=0.25cm,landscape]{geometry}\input{%S}\input{ada_reference_card_2022_en}
          root_file: ada_reference_card_2022_en.tex

      - name: Delete 'continuous' release and tag
        uses: dev-drprasad/delete-tag-and-release@v1.0
        with:
          delete_release: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: continuous
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
           files: ada_reference_card_2022_en.pdf
           prerelease: true
           generate_release_notes: true
           append_body: true
           make_latest: true
           tag_name: continuous
